<html>
<head>
    <title>Main page</title>
    <link rel="stylesheet" href="/styles.css">
</head>
    <body>
        <p>Hello, my name is {{name}}. I am from {{hometown}}. I have {{kids.length}} kids:</p>
        <ul>
            {{#kids}}
                <li>{{name}} is {{age}}</li>
            {{/kids}}
        </ul>
        {{#if cook}}
            <h1>{{cook}}</h1>
        {{/if}}
    </body>
</html>
